<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtYYKQT3ckwId9CSt89BjQyaw_KvgISXg</string>
	<key>GCM_SENDER_ID</key>
	<string>471266321533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ballwizard</string>
	<key>PROJECT_ID</key>
	<string>ballwizard-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ballwizard-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:471266321533:ios:d6ffbe68ec09b5dc7a7d14</string>
</dict>
</plist>